{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}
{% block content %}
    <div class="center">
        <div class="container">
            <div class="todo">
                <img src="{% static 'imgs/1311951.jpg' %}">
            </div>
            <div class="left-container">
                <div class="form-container">
                    <div class="page-info">
                        <span class="page-name">OtakuSearch</span>
                        <span class="slogan">日本行かずにマンガ楽しめる!</span>
                    </div>
                    <form action="/" method="post">
                        <div class="info-container">
                            {% csrf_token %}
                            <label>
                                Username
                                <input type="text" placeholder="Username" name="username">
                            </label>
                            <label>
                                Password
                                <input type="password" placeholder="Password" name="password">
                            </label>
                            <button class="btn-send" type="submit">Login</button>
                            <div class="sign-up-container">
                                <span>Don't have an account yet?</span>
                                <a href="{% url 'signup' %}">Sign up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}