@import url('https://fonts.googleapis.com/css?family=Kaushan Script');

body {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
header {
    position: relative;
    margin-top: 0;
    top: 0;
    background-color: #ead1dc;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
}

.luffy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.luffy img {
    width: auto;
    height: 6em;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.page-name {
    font-family: 'Kaushan Script', sans-serif;
}


.slogan {
    font-size: 1.2em;
    font-style: italic;
}

.frieren {
    flex: 1;
}

.frieren img {
    position: absolute;
    width: 6rem;
    height: auto;
    right: 10%;
    top: 25.5%;
}

@media screen and (max-width: 480px) {
    .luffy, .frieren {
        display: none;
    }

    /*.container {*/
    /*    border-radius: 2rem;*/
    /*}*/
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}