{% load static %}
{% load tailwind_cli %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}OtakuSearch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    {% if include_header %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endif %}
    {% block head %}
    {% endblock %}
    {% tailwind_css %}
    <script src="{% static 'js/utils.js' %}"></script>
</head>

<body>
<header>
    {% if include_header %}
        <div class="luffy">
            <img src="/static/imgs/luffy.png" alt>
        </div>
        <div class="container">
            <span class="page-name">OtakuSearch</span>
            <span class="slogan">日本行かずにマンガ楽しめる!</span>
        </div>
        <div class="frieren">
            <img src="/static/imgs/imagen_2024-03-05_091040361.png" alt>
        </div>
    {% endif %}
    {% block header %}
    {% endblock %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>

</html>