{% load static %}
{% load tailwind_cli %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}OtakuSearch{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/imgs/o.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    {% if include_header %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endif %}
    {% block head %}
    {% endblock %}
    {% tailwind_css %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    {% block header %}
    {% if include_header %}
        {% include "header.html" %}
    {% endif %}
    {% endblock %}

<main>
    {% block content %}
    {% endblock %}
</main>
</body>

</html>
