{% include "base.html" with include_header=True %}
<!DOCTYPE html>

<body>
    <iframe id="animeVideo" width="420" height="315"></iframe>
    <img id="animeImage" width="380" height="315"></img>
    <h1 id="animeTitle"></h1>
    <p id="animeScore"></p>
    <p id="animeSynopsis"></p>
    <p id="animeRating"></p>
    <p id="animeStatus"></p>
    <p id="animeStudio"></p>
    <p id="animeSource"></p>
    <p id="animeGenre"></p>

    <script>
        let embedUrl, embedImg, title, score, synopsis, rating, status, studio, source, genres

        function getAnime(idAnime){ 
            fetch('https://api.jikan.moe/v4/anime/'+ idAnime)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error en la connexio suicidet")
                    }
                    return response.json()
                })
                .then (data => {
                    console.log(data)
                    
                    title = data["data"]['title']
                    embedImg = data["data"]["images"]["jpg"]["image_url"]
                    embedUrl = data["data"]["trailer"]["embed_url"]
                    score = data["data"]["score"] ? data["data"]["score"] : "No score for now"
                    synopsis = data["data"]["synopsis"] 
                    rating = data["data"]["rating"]
                    status = data["data"]["status"]
                    studio = data["data"]["studios"].length ? data["data"]["studios"][0]["name"] : "No studio working on it for now"
                    source = data["data"]["source"]
                    genres = data["data"]["genres"]


                    renderText(title, document.getElementById('animeTitle'))
                    renderImage(embedImg, document.getElementById('animeImage'))
                    renderVideo(embedUrl, document.getElementById('animeVideo'))
                    renderText(score, document.getElementById('animeScore'))
                    renderText(synopsis, document.getElementById('animeSynopsis'))
                    renderText(rating, document.getElementById('animeRating'))
                    renderText(status, document.getElementById('animeStatus'))
                    renderText(studio, document.getElementById('animeStudio'))
                    renderText(source, document.getElementById('animeSource'))
                    genres.forEach(element => {
                        renderText(element["name"]+"-", document.getElementById('animeGenre'))
                    });
                })
                .catch (error => (console.log("Error otra vez, matet: ", error)))
        }

        function renderVideo(embedUrl, iframe) {
            if (embedUrl){
                iframe.src = embedUrl
            } else {
                iframe.style.display = "none"
            }
        }

        function renderImage(embedImg, img) {
            img.src = embedImg
        }

        function renderText(title, p){
            p.innerText += title
        }

        getAnime(57907)
    </script>

</body>