{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}OtakuSearch{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="cos">
  <main>
    
    <div class="capcelera">
      <img class="frieren" src="/static/imgs/imagen_2024-03-05_091040361.png" alt>
      <img class="luffy" src="/static/imgs/luffy.png" alt>
      <h1 class="titol">OtakuSearch</h1>
        <h2 class="subtitol">日本行かずにマンガ楽しめる!</h2>
    </div>


  </main>
</body>

</html>