{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}OtakuSearch{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<header>
    <div class="luffy">
        <img src="/static/imgs/luffy.png" alt>
    </div>
    <div class="container">
        <span class="page-name">OtakuSearch</span>
        <span class="slogan">日本行かずにマンガ楽しめる!</span>
    </div>
    <div class="frieren">
        <img src="/static/imgs/imagen_2024-03-05_091040361.png" alt>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>

</html>